body {
    background-color: #161616;
    color: #fff;
}

.navigation {
    display: flex;
}

.logo {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin: 5px;
    text-transform: none;
    text-decoration: none;
}

.right-nav {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    left: 950px;
    position: relative;
    text-decoration: none;
    text-transform: none;
}

.heading1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.heading2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.heading3 {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.para1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading4 {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#myform {
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 9px;
    border: 0;
}

.para2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 9px;
}

.days-male {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.para3 {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.days-female {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright-text {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #fff;
}